.login {
  background-color: #283541;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.login_header {
  font-size: 25px;
  text-align: center;
}

.password {
  padding: 1rem;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

.login_button {
  background-color: #60991a;
  border-radius: 5px;
  padding: 1rem;
  font-size: 20px;
  color: white;
  border: 0px;
  cursor: pointer;
}

.login_back {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.goback {
  margin: 5px auto auto 5px;
}

.register_on_login {
  text-decoration: none;
  color: #60991a;
}

.login i {
  cursor: pointer;
  position: absolute;
  top: 30.5%;
  z-index: 2;
  right: 13.5%;
  color: #60991a;
}

.login_info {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .login {
    width: 80%;
    margin: 10% auto;
  }

  .login i {
    top: 47%;
    right: 17%;
  }
}
