.login {
  background-color: rgb(25, 25, 25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 10px;
}

.login_header {
  font-size: 25px;
  text-align: center;
}

.login_phone {
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.password {
  padding: 1rem;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 10px;
}

.login_button {
  background-color: green;
  border-radius: 10px;
  padding: 1rem;
  font-size: 25px;
  color: white;
}

.forgot_password_on_login {
  margin: 10px 1px auto auto;
}

.forgot_password_link {
  color: green;
  text-decoration: none;
}

.login_back {
  display: flex;
  align-items: center;
}

.goback {
  margin: 5px auto auto 5px;
}

.register_on_login {
  text-decoration: none;
  color: green;
}

.login_info {
  text-align: center;
}

.login i {
  cursor: pointer;
  position: absolute;
  top: 28%;
  z-index: 2;
  right: 7%;
  color: green;
}
