.subscribe {
  background-color: #16202c;
  padding: 5px 5px;
}

.subscribe img {
  object-fit: contain;
}

.subscribe p small {
  color: #008080;
}

.alert {
  background-color: #f2dede;
  color: #a94442;
  padding: 5px;
}

hr {
  width: 95%;
  border: 0;
  border-top: 0.5px solid #416969;
}
